body {
  background-color:  #536C4F
}
li {
  font-family: din;
  font-size: 16px;
  color: FBFBF9;
}
p {
  font-family: din;
  font-size: 16px;
  color: FBFBF9;
}
div {
  font-family: din;
  font-size: 16px;
  color: FBFBF9;
  background-color: black;
}
a {
  font-family: din;
  font-size: 16px;
  color: FBFBF9;
  text-decoration: none;
  background-color:  #53A4439
}
h3 {
  font-family: bahnschrift;
  font-size: 24px;
  color: FBFBF9;
  background-color:  #3A4439
}
hr {
width: 900px;
margin-left: auto;
margin-right: auto;
height: 10px;
background-color:#000000;
opacity: 1;
}
