body {
  background-color:  #536C4F
}
p {
  font-family: din;
  font-size: 16px;
  color: FBFBF9;
}
div {
  font-family: din;
  font-size: 16px;
  color: FBFBF9;
  background-color: black;
}
a {
  font-family: din;
  font-size: 16px;
  color: FBFBF9;
  text-decoration: none;
  background-color:  #53A4439
}
h3 {
  font-family: bahnschrift;
  font-size: 24px;
  color: FBFBF9;
  background-color:  #3A4439
}
hr {
width: 1500px;
margin-left: auto;
margin-right: auto;
height: 10px;
background-color:#000000;
opacity: 1;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
